body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  h1 {
    color: black;
    text-align: center;
  }

  ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 20px; 
}
  
  p {
    font-size: 18px;
  }
  
  a {
    color: pink;
    text-decoration: none;
  }
  
  a:hover {
    background-color: rgb(249, 135, 154);
    padding: 5px;
    border-radius: 5px;
  }

  
  body {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(245, 234, 235);
}


.card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 24px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-left: 100px;
  padding-bottom: 10px;
  padding-right: 100px;
}

.intro-box{
  display: flex;
  justify-content: center;
}

.intro-box img {
  width: 600px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 16px;
}



section {
    display: grid;
}

  .food-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
}

.food-section img {
    width: 100%;
    max-width:500px;
    height: auto;
    display: block;
}
  

  
  