ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 20px; 
  }
    
    p {
      font-size: 18px;
    }
    
    a {
      color: pink;
      text-decoration: none;
    }
    
    a:hover {
      background-color: rgb(249, 135, 154);
      padding: 5px;
      border-radius: 5px;
    }
h1 {
    text-align: center;
    font-size: 75px;
}