body {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(245, 234, 235);
}
.header-img {
    max-width: 400px;
}
section {
    display: grid;
}
img {
    max-width: 600px;
}
.beach-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 10px; /* optional spacing between images */
}

.beach-section img {
    width: 100%;
    max-width:400px;
    height: auto;
    display: block;
}